{% extends 'Catalogos/catalogo.twig' %}

{% block title 'Descuentos' %}

{% block tabla %}
    <table id="table" class="table thead-light table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Precio de Descuento</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <!-- Contenido de la tabla -->
        {% for d in descuentos %}
            <tr>
               <td>{{ d.producto }}</td>
                <td>{{ d.precio_descuento }}</td>
                <td>{{ d.dia_inicio |date('d/m/Y') }} {{ d.hora_inicio |date('h:i a') }}</td>
                <td>{{ d.dia_final |date('d/m/Y') }} {{ d.hora_final |date('h:i a') }}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <button type="button" class="btn btn-sm btn-primary" id="option1" data-toggle="modal" data-target="#operationModal" data-id="{{ d.id }}" data-model="{{ modelo }}" data-operation="Editar">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-danger" id="option2" data-toggle="modal" data-target="#operationModal" data-id="{{ d.id }}" data-model="{{ modelo }}" data-operation="Eliminar">
                          <i class="fa fa-trash"></i>
                      </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
