{% extends 'template/temp.twig' %}

{% block title 'Ventas' %}

{% block body %}

<div class="container-fluid">
  {% for g in compra %}
  <div class="card">
    <h5 class="card-header {% if g.estatus != 'En Proceso' %} bg-success {% else %}
      bg-warning {% endif %}  text-white">Fecha: {{g.fecha|date("d/m/Y H:i:s")}}</h5>
    <div class="card-body">
      <h5 class="card-title">Estatus: {{g.estatus}} </h5>
      <label>Precio: ${{g.total_pagar|number_format(2, '.', ',')}}</label>
      <p class="card-text">Direccion: {{g.direccion}}</p>
      <p class="card-text">Método de Pago: {{g.tipo}}</p>
      {% if g.estatus == 'En Proceso' %}
      <hr>
      {% if g.tipo == 'Deposito' %}
      <label>Recibo de pago</label>
      <img src="{{g.tiket}}" width="160" height="160">
      {% endif %}

      <form action="{{route('ventas/save')}}" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-2">
            <label>Cambiar estatus</label>
          </div>

          <div class="col-sm-3">
              <select class="form-control" name="estatus" id="estatus">
                  <option value="En Proceso">En Proceso</option>
                  <option value="Enviado">Enviado</option>
              </select>

              <input type="hidden" name="id" value="{{g.id}}">
          </div>

          <div class="col-sm-2">
            <label>Codigo de seguimiento</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="codigo" value="">
          </div>

          <div class="col-sm-2">
            <button type="submit" class="btn btn-success" name="button"><i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </div>

      </form>
      <hr>
      {% endif %}
      <table>
        <tr>
          <th>Productos</th> <th>Cantidad</th>
        </tr>
        <tbody>
          {% for d in detalle %}
            {% if d.id_venta == g.id %}
              <tr>
                <td>{{d.15}}</td> <td>{{d.cantidad}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  {% endfor %}

</div>

{% endblock %}
